.bod
{
	background-color:#E6E2AF;
	font-family: Comic Sans MS ;
	   border: 7px ridge #046380;
    background-color:#E6E2AF ;
    padding: 5px;

}
.menu
{
	margin-left: 10px;

}
.but_menu
{
	  float: left;
	  margin-top: 10px;
  border: 1px solid #046380;
  background-color:#3388BB; 
  text-align: center;
  font-size: 20px;
  font-family: Comic Sans MS;
	padding: 8px 22px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.but_menu:hover {
  background-color: #046380; /* Green */
  color: white;
}

.titre_page
{
	margin-top: 30px;
	text-align: center;
	font-size: 30px;
	color: #046380;  
	  
}

.photo_top
{
	float: right;	
	margin-right: 100px;
	margin-top: 150px;
	font-size: 20px;
	font-weight: bold;
	border-style: ridge;
}
.imge
{
	width: 170px;
	height: 170px;
}
.parties 
{
	margin-top: 150px;
	margin-left: 30px;
	text-align: justify;
}
.titre_partie
{
	font-size: 35px;
	color: #3388BB;
	/*text-transform: uppercase;*/
	border-bottom: 3px solid #3388BB;
}
.partie_droite 
{
	margin-top: 55px;
	margin-left: 220px;
	font-size: 20px;
}
.partie_gauche 
{
	float: left;
	margin-left: 30px;
	font-weight: bold;
	font-size: 20px;
}

.skills_bar
{
	margin-left: 20px;
	margin-top: 50px;
	font-size: 20px;
}

.bar_trans
{
	width: 70%;
	background-color: white;
	border: 3px ridge #046380;
	border-radius: 5px;
	margin-left: 15%;


}
.arc_GIS
{
	font-size: 20px;
	text-align: center;
	width: 60%;
	background-color: #FFE800;
	
}
.auto_cad
{

	text-align: center;
	width: 40%;
	background-color: #FF1F00;
}

.solidworks
{

	text-align: center;
	width: 50%;
	background-color: #FF9B00;
}
.illustrator
{

	text-align: center;
	width: 100%;
	background-color: #00FF00;
}

.photoshop
{

	text-align: center;
	width: 80%;
	background-color: #AAFF00;
}
.premiere
{

	text-align: center;
	width: 90%;
	background-color: #80FF00;
}
.HTML
{

	text-align: center;
	width: 70%;
	background-color: #C5FF00;
}
.CSS
{

	text-align: center;
	width: 70%;
	background-color: #C5FF00;
}